<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ReleaseURL</key>
	<dict>
		<key>OP_DiscoveryHome</key>
		<dict>
			<key>storyboardName</key>
			<string></string>
			<key>source</key>
			<string>0</string>
			<key>describe</key>
			<string>开放项目-发现首页</string>
			<key>url</key>
			<string>xclapp://op/discoveryhome</string>
			<key>className</key>
			<string>XCLOPDiscoveryHomeViewController</string>
		</dict>
		<key>OP_CameraJudgement</key>
		<dict>
			<key>storyboardName</key>
			<string></string>
			<key>source</key>
			<string>0</string>
			<key>describe</key>
			<string>开放项目-拍照判题</string>
			<key>url</key>
			<string>xclapp://op/camerajudgement</string>
			<key>className</key>
			<string>XCLOPCameraJudgementViewController</string>
		</dict>
		<key>OP_CameraJudgementHome</key>
		<dict>
			<key>storyboardName</key>
			<string></string>
			<key>source</key>
			<string>0</string>
			<key>describe</key>
			<string>开放项目-拍照判题首页(过渡页)</string>
			<key>url</key>
			<string>xclapp://op/camerajudgementhome</string>
			<key>className</key>
			<string>XCLOPCameraJudgementHomeViewController</string>
		</dict>
		<key>OP_CameraHistoryDetailInfo</key>
		<dict>
			<key>storyboardName</key>
			<string></string>
			<key>source</key>
			<string>0</string>
			<key>describe</key>
			<string>开放项目-检查记录详情页</string>
			<key>url</key>
			<string>xclapp://op/camerahistorydetailinfo</string>
			<key>className</key>
			<string>XCLOPCameraCheckHistoryDetailViewController</string>
		</dict>
		<key>OP_CameraJudgementScan</key>
		<dict>
			<key>storyboardName</key>
			<string></string>
			<key>source</key>
			<string>0</string>
			<key>describe</key>
			<string>开放项目-拍照判题扫描页</string>
			<key>url</key>
			<string>xclapp://op/camerajudgescan</string>
			<key>className</key>
			<string>XCLOPCameraScanViewController</string>
		</dict>
		<key>OP_CameraScanResult</key>
		<dict>
			<key>storyboardName</key>
			<string></string>
			<key>source</key>
			<string>0</string>
			<key>describe</key>
			<string>开放项目-拍照判题扫描结果详情页</string>
			<key>url</key>
			<string>xclapp://op/camerascanresultdetail</string>
			<key>className</key>
			<string>XCLOPCameraScanResultDetailViewController</string>
		</dict>
		<key>OP_CameraGuide</key>
		<dict>
			<key>storyboardName</key>
			<string></string>
			<key>source</key>
			<string>0</string>
			<key>describe</key>
			<string>开放项目-拍照判题拍照引导页</string>
			<key>url</key>
			<string>xclapp://op/cameraguide</string>
			<key>className</key>
			<string>XCLOPCameraGuideViewController</string>
		</dict>
		<key>OP_CameraJudgementHistory</key>
		<dict>
			<key>storyboardName</key>
			<string></string>
			<key>source</key>
			<string>0</string>
			<key>describe</key>
			<string>开放项目-拍照判题历史页</string>
			<key>url</key>
			<string>xclapp://op/cameracheckhistory</string>
			<key>className</key>
			<string>XCLOPCheckHistoryViewController</string>
		</dict>
		<key>OP_RecommendExercise</key>
		<dict>
			<key>storyboardName</key>
			<string></string>
			<key>source</key>
			<string>0</string>
			<key>describe</key>
			<string>开放项目-推荐练习</string>
			<key>url</key>
			<string>xclapp://op/recommendknowledgeexercise</string>
			<key>className</key>
			<string>XCLRecommendKnowledgeViewController</string>
		</dict>
		<key>OP_DiscoverySelectKnowledge</key>
		<dict>
			<key>storyboardName</key>
			<string></string>
			<key>source</key>
			<string>0</string>
			<key>describe</key>
			<string>开放项目-选择知识点</string>
			<key>url</key>
			<string>xclapp://op/selectknowledge</string>
			<key>className</key>
			<string>XCLOPSelectKnowledgeViewController</string>
		</dict>
		<key>OP_PeerConfrontation</key>
		<dict>
			<key>storyboardName</key>
			<string></string>
			<key>source</key>
			<string>0</string>
			<key>describe</key>
			<string>开放项目-同伴对战</string>
			<key>url</key>
			<string>xclapp://op/PeerConfrontation</string>
			<key>className</key>
			<string>XCLPeerConfrontationViewController</string>
		</dict>
		<key>OP_PeerConfrontationInfo</key>
		<dict>
			<key>storyboardName</key>
			<string></string>
			<key>source</key>
			<string>0</string>
			<key>describe</key>
			<string>开放项目-同伴对战详情</string>
			<key>url</key>
			<string>xclapp://op/PeerConfrontationInfo</string>
			<key>className</key>
			<string>XCLOPPeerConfrontationInfoViewController</string>
		</dict>
		<key>OP_HorizontalCalcInfo</key>
		<dict>
			<key>storyboardName</key>
			<string></string>
			<key>source</key>
			<string>0</string>
			<key>describe</key>
			<string>开放项目-练一练-横式</string>
			<key>url</key>
			<string>xclapp://op/OPHorizontalCalcInfo</string>
			<key>className</key>
			<string>XCLOPHorizontalCalcInfoViewController</string>
		</dict>
		<key>OP_VerticalCalcInfo</key>
		<dict>
			<key>storyboardName</key>
			<string></string>
			<key>source</key>
			<string>0</string>
			<key>describe</key>
			<string>开放项目-练一练-竖式</string>
			<key>url</key>
			<string>xclapp://op/OPVerticalCalcInfo</string>
			<key>className</key>
			<string>XCLOPVerticalCalcInfoViewController</string>
		</dict>
		<key>OP_VerticalCalcResult</key>
		<dict>
			<key>storyboardName</key>
			<string></string>
			<key>source</key>
			<string>0</string>
			<key>describe</key>
			<string>开放项目-练一练-竖式-结算页</string>
			<key>url</key>
			<string>xclapp://op/OPVerticalCalcResult</string>
			<key>className</key>
			<string>XCLOPVerticalCalcResultViewController</string>
		</dict>
		<key>Tool_NetDignose</key>
		<dict>
			<key>storyboardName</key>
			<string></string>
			<key>source</key>
			<string>0</string>
			<key>describe</key>
			<string>网络诊断工具</string>
			<key>url</key>
			<string>xclapp://Tool/NetDignosePage</string>
			<key>className</key>
			<string>XCLNetDiagnoViewController</string>
		</dict>
		<key>MyInfo_TranscirptReport</key>
		<dict>
			<key>storyboardName</key>
			<string></string>
			<key>source</key>
			<string>0</string>
			<key>describe</key>
			<string>成绩单报告</string>
			<key>url</key>
			<string>xclapp://myinfo/TranscriptReport</string>
			<key>className</key>
			<string>XCLMyGrowthTranscriptReportsViewController</string>
		</dict>
		<key>MyInfo_TranscirptList</key>
		<dict>
			<key>storyboardName</key>
			<string></string>
			<key>source</key>
			<string>0</string>
			<key>describe</key>
			<string>成绩单列表</string>
			<key>url</key>
			<string>xclapp://myinfo/TranscriptHomePage</string>
			<key>className</key>
			<string>XCLTranscriptHomeViewController</string>
		</dict>
		<key>UserInfo_Login</key>
		<dict>
			<key>storyboardName</key>
			<string></string>
			<key>source</key>
			<string>0</string>
			<key>describe</key>
			<string>用户登录</string>
			<key>url</key>
			<string>xclapp://Login/userLogin</string>
			<key>className</key>
			<string>XCLLoginViewController</string>
		</dict>
		<key>UserInfo_ForgetPassword</key>
		<dict>
			<key>storyboardName</key>
			<string></string>
			<key>source</key>
			<string>0</string>
			<key>describe</key>
			<string>忘记密码</string>
			<key>url</key>
			<string>xclapp://Login/ForgetPassword</string>
			<key>className</key>
			<string>XCLForgetPasswordViewController</string>
		</dict>
		<key>UserInfo_FindPassword</key>
		<dict>
			<key>storyboardName</key>
			<string></string>
			<key>source</key>
			<string>0</string>
			<key>describe</key>
			<string>找回密码</string>
			<key>url</key>
			<string>xclapp://Login/FindPassword</string>
			<key>className</key>
			<string>XCLFindPasswordViewController</string>
		</dict>
		<key>UserInfo_SetPassword</key>
		<dict>
			<key>storyboardName</key>
			<string></string>
			<key>source</key>
			<string>0</string>
			<key>describe</key>
			<string>设置密码</string>
			<key>url</key>
			<string>xclapp://Login/SetPassword</string>
			<key>className</key>
			<string>XCLSetNewPasswordViewController</string>
		</dict>
		<key>UserInfo_PasswordSuccess</key>
		<dict>
			<key>storyboardName</key>
			<string></string>
			<key>source</key>
			<string>0</string>
			<key>describe</key>
			<string>设置密码成功</string>
			<key>url</key>
			<string>xclapp://Login/PasswordSuccess</string>
			<key>className</key>
			<string>XCLSetPasswordSuccessViewController</string>
		</dict>
		<key>UserInfo_Perfectinfo</key>
		<dict>
			<key>storyboardName</key>
			<string></string>
			<key>source</key>
			<string>0</string>
			<key>describe</key>
			<string>完善资料</string>
			<key>url</key>
			<string>xclapp://Login/Perfectinfo</string>
			<key>className</key>
			<string>XCLPerfectInformationViewController</string>
		</dict>
		<key>UserInfo_Perfectinfo_Details</key>
		<dict>
			<key>storyboardName</key>
			<string></string>
			<key>source</key>
			<string>0</string>
			<key>describe</key>
			<string>完善资料详情</string>
			<key>url</key>
			<string>xclapp://Login/PerfectinfoDetails</string>
			<key>className</key>
			<string>XCLPerfectInfoDetailsViewController</string>
		</dict>
		<key>MyInfo_Home</key>
		<dict>
			<key>storyboardName</key>
			<string></string>
			<key>source</key>
			<string>0</string>
			<key>describe</key>
			<string>个人中心首页</string>
			<key>url</key>
			<string>xclapp://myinfo/myInfoHome</string>
			<key>className</key>
			<string>XCLMyInfoPageViewController</string>
		</dict>
		<key>MyInfo_SCanCode</key>
		<dict>
			<key>storyboardName</key>
			<string></string>
			<key>source</key>
			<string>0</string>
			<key>describe</key>
			<string>积分充值页</string>
			<key>url</key>
			<string>xclapp://myinfo/scancode</string>
			<key>className</key>
			<string>XCLScanCodeViewController</string>
		</dict>
		<key>MyInfo_MyMessage</key>
		<dict>
			<key>storyboardName</key>
			<string></string>
			<key>source</key>
			<string>0</string>
			<key>describe</key>
			<string>我的消息</string>
			<key>url</key>
			<string>xclapp://myinfo/MyMessage</string>
			<key>className</key>
			<string>XCLMyMessageHomeViewController</string>
		</dict>
		<key>MyInfo_MyPoints</key>
		<dict>
			<key>storyboardName</key>
			<string></string>
			<key>source</key>
			<string>0</string>
			<key>describe</key>
			<string>我的积分列表</string>
			<key>url</key>
			<string>xclapp://myinfo/MyPoints</string>
			<key>className</key>
			<string>XCLMyPointsViewController</string>
		</dict>
		<key>MyInfo_MyGetPoints</key>
		<dict>
			<key>storyboardName</key>
			<string></string>
			<key>source</key>
			<string>0</string>
			<key>describe</key>
			<string>怎么获取积分</string>
			<key>url</key>
			<string>xclapp://myinfo/MyGetPoints</string>
			<key>className</key>
			<string>XCLMyGetPointsViewController</string>
		</dict>
		<key>MyInfo_MyScoreStore</key>
		<dict>
			<key>storyboardName</key>
			<string></string>
			<key>source</key>
			<string>0</string>
			<key>describe</key>
			<string>积分商城</string>
			<key>url</key>
			<string>xclapp://myinfo/MyScoreStore</string>
			<key>className</key>
			<string>XCLMyGrowthPointsStoreViewController</string>
		</dict>
		<key>MyInfo_MyVideoAlbum</key>
		<dict>
			<key>storyboardName</key>
			<string></string>
			<key>source</key>
			<string>0</string>
			<key>describe</key>
			<string>我的作品</string>
			<key>url</key>
			<string>xclapp://mygrowth/videoAlbum</string>
			<key>className</key>
			<string>XCLMyGrowthVideoAlbumViewController</string>
		</dict>
		<key>MyInfo_TaskCenter</key>
		<dict>
			<key>storyboardName</key>
			<string></string>
			<key>source</key>
			<string>0</string>
			<key>describe</key>
			<string>任务中心</string>
			<key>url</key>
			<string>xclapp://myinfo/TaskCenter</string>
			<key>className</key>
			<string>XCLTaskCenterViewController</string>
		</dict>
		<key>SelectClass_ClassList</key>
		<dict>
			<key>storyboardName</key>
			<string></string>
			<key>source</key>
			<string>0</string>
			<key>describe</key>
			<string>选班-班级列表</string>
			<key>url</key>
			<string>xclapp://selectclass/ClassList</string>
			<key>className</key>
			<string>XCLSelectClassViewController</string>
		</dict>
		<key>SelectClass_CourseList</key>
		<dict>
			<key>storyboardName</key>
			<string></string>
			<key>source</key>
			<string>0</string>
			<key>describe</key>
			<string>选课-课次列表</string>
			<key>url</key>
			<string>xclapp://selectclass/CourseList</string>
			<key>className</key>
			<string>XCLSelectCourseViewController</string>
		</dict>
		<key>ExcessiveAnswerCourse</key>
		<dict>
			<key>storyboardName</key>
			<string></string>
			<key>source</key>
			<string>0</string>
			<key>describe</key>
			<string>选课-课次列表承载页面</string>
			<key>url</key>
			<string>xclapp://ExcessiveAnswer/Course</string>
			<key>className</key>
			<string>XCLExcessiveAnswerCourseViewController</string>
		</dict>
		<key>SelectClass_MapMission</key>
		<dict>
			<key>storyboardName</key>
			<string></string>
			<key>source</key>
			<string>0</string>
			<key>describe</key>
			<string>选课-地图页</string>
			<key>url</key>
			<string>xclapp://selectclass/MapMission</string>
			<key>className</key>
			<string>XCLMapMissionViewController</string>
		</dict>
		<key>GeneralPaper_QuestionList</key>
		<dict>
			<key>storyboardName</key>
			<string></string>
			<key>source</key>
			<string>0</string>
			<key>describe</key>
			<string>答题-题目列表</string>
			<key>url</key>
			<string>xclapp://generalpaper/GeneralPaper</string>
			<key>className</key>
			<string>XCLGeneralPaperVC</string>
		</dict>
		<key>STJPaper_QuestionList</key>
		<dict>
			<key>storyboardName</key>
			<string></string>
			<key>source</key>
			<string>0</string>
			<key>describe</key>
			<string>009答题-题目列表</string>
			<key>url</key>
			<string>xclapp://stjpaper/QuestionList</string>
			<key>className</key>
			<string>XCLSTJPaperVC</string>
		</dict>
		<key>Game_GameHomePage</key>
		<dict>
			<key>storyboardName</key>
			<string></string>
			<key>source</key>
			<string>0</string>
			<key>describe</key>
			<string>游戏首页</string>
			<key>url</key>
			<string>xclapp://game/GameHomePage</string>
			<key>className</key>
			<string>XCLGameViewController</string>
		</dict>
		<key>Ranking_RankingList</key>
		<dict>
			<key>storyboardName</key>
			<string></string>
			<key>source</key>
			<string>0</string>
			<key>describe</key>
			<string>排行榜list</string>
			<key>url</key>
			<string>xclapp://ranking/RankingList</string>
			<key>className</key>
			<string>XCLRankingViewController</string>
		</dict>
		<key>IntelligentExercise_NewKnowledgeList - 2</key>
		<dict>
			<key>storyboardName</key>
			<string></string>
			<key>source</key>
			<string>0</string>
			<key>describe</key>
			<string>智能练习知识点列表</string>
			<key>url</key>
			<string>xclapp://intelligentExercise/NewKnowledgeList</string>
			<key>className</key>
			<string>XCLIntelligentExerciseListController</string>
		</dict>
		<key>IntelligentExercise_Exercise</key>
		<dict>
			<key>storyboardName</key>
			<string></string>
			<key>source</key>
			<string>0</string>
			<key>describe</key>
			<string>智能练习答题页面</string>
			<key>url</key>
			<string>xclapp://IntelligentExercise/Exercise</string>
			<key>className</key>
			<string>XCLIntelligentAnswerPageViewController</string>
		</dict>
		<key>IntelligentExercise_KnowledgeList</key>
		<dict>
			<key>storyboardName</key>
			<string></string>
			<key>source</key>
			<string>0</string>
			<key>describe</key>
			<string>智能练习知识点列表</string>
			<key>url</key>
			<string>xclapp://IntelligentExercise/KnowledgeList</string>
			<key>className</key>
			<string>XCLKnowledgeListViewController</string>
		</dict>
		<key>TaskCenter_TaskList</key>
		<dict>
			<key>storyboardName</key>
			<string></string>
			<key>source</key>
			<string>0</string>
			<key>describe</key>
			<string>任务中心任务列表页</string>
			<key>url</key>
			<string>xclapp://taskCenter/taskCenterList</string>
			<key>className</key>
			<string>XCLTaskCenterViewController</string>
		</dict>
		<key>TaskCenter_QuestionList</key>
		<dict>
			<key>storyboardName</key>
			<string></string>
			<key>source</key>
			<string>0</string>
			<key>describe</key>
			<string>任务中心题目列表</string>
			<key>url</key>
			<string>xclapp://taskCenter/QuestionList</string>
			<key>className</key>
			<string>XCLTaskCenterPaperVC</string>
		</dict>
		<key>WrongTtitle_HomePage</key>
		<dict>
			<key>storyboardName</key>
			<string></string>
			<key>source</key>
			<string>0</string>
			<key>describe</key>
			<string>错题本首页首页</string>
			<key>url</key>
			<string>xclapp://wrongtitle/WrongTtitleHomePage</string>
			<key>className</key>
			<string>XCLWrongTitleHomeViewController</string>
		</dict>
		<key>TaskCenter_HomePage</key>
		<dict>
			<key>storyboardName</key>
			<string></string>
			<key>source</key>
			<string>0</string>
			<key>describe</key>
			<string>任务中心首页</string>
			<key>url</key>
			<string>xclapp://TaskCenter/TaskCenter_HomePage</string>
			<key>className</key>
			<string>XCLTaskCenterViewController</string>
		</dict>
		<key>WrongExercise</key>
		<dict>
			<key>storyboardName</key>
			<string></string>
			<key>source</key>
			<string>0</string>
			<key>describe</key>
			<string>错题巩固任务答题页</string>
			<key>url</key>
			<string>xclapp://TaskCenter/WrongExercise</string>
			<key>className</key>
			<string>XCLTaskCenterWrongTopicViewController</string>
		</dict>
		<key>MyInfo_Achievement</key>
		<dict>
			<key>storyboardName</key>
			<string></string>
			<key>source</key>
			<string>0</string>
			<key>describe</key>
			<string>成就馆</string>
			<key>url</key>
			<string>xclapp://myinfo/Achievement</string>
			<key>className</key>
			<string>XCLAchievementViewController</string>
		</dict>
		<key>WrongTopicBookHightVC_HD</key>
		<dict>
			<key>storyboardName</key>
			<string></string>
			<key>source</key>
			<string>0</string>
			<key>describe</key>
			<string>错题本HD</string>
			<key>url</key>
			<string>xclapp://wrongBookvchd/WrongTopicBookHightVC</string>
			<key>className</key>
			<string>WrongTopicBookHightVC</string>
		</dict>
		<key>WrongTopicBookLowerVC_HD</key>
		<dict>
			<key>storyboardName</key>
			<string></string>
			<key>source</key>
			<string>0</string>
			<key>describe</key>
			<string>错题本小低HD</string>
			<key>url</key>
			<string>xclapp://wrongBookvchd/WrongTopicBookLowerVC</string>
			<key>className</key>
			<string>WrongTopicBookLowerVC</string>
		</dict>
		<key>MapVC_PrimaryHigher</key>
		<dict>
			<key>storyboardName</key>
			<string></string>
			<key>source</key>
			<string>0</string>
			<key>describe</key>
			<string>地图页小高pad</string>
			<key>url</key>
			<string>xclapp://mapVCHD/MapVC_PrimaryHigher</string>
			<key>className</key>
			<string>MapVC_PrimaryHigher</string>
		</dict>
		<key>MapVC_PrimaryLower</key>
		<dict>
			<key>storyboardName</key>
			<string></string>
			<key>source</key>
			<string>0</string>
			<key>describe</key>
			<string>地图页小低pad</string>
			<key>url</key>
			<string>xclapp://mapVCHD/MapVC_PrimaryLower</string>
			<key>className</key>
			<string>MapVC_PrimaryLower</string>
		</dict>
		<key>LessonListVC_HD</key>
		<dict>
			<key>storyboardName</key>
			<string></string>
			<key>source</key>
			<string>0</string>
			<key>describe</key>
			<string>课次页pad</string>
			<key>url</key>
			<string>xclapp://lesson/LessonListVC</string>
			<key>className</key>
			<string>LessonListVC</string>
		</dict>
		<key>TaskData_Handle</key>
		<dict>
			<key>storyboardName</key>
			<string></string>
			<key>source</key>
			<string>0</string>
			<key>describe</key>
			<string>错题巩固任务和双师任务跳转处理页</string>
			<key>url</key>
			<string>xclapp://TaskData/TaskDataHandle</string>
			<key>className</key>
			<string>XCLTaskDataHandleViewController</string>
		</dict>
		<key>MyInfo_NewMyMessage</key>
		<dict>
			<key>storyboardName</key>
			<string></string>
			<key>source</key>
			<string>0</string>
			<key>describe</key>
			<string>我的消息</string>
			<key>url</key>
			<string>xclapp://myinfo/NewMyMessage</string>
			<key>className</key>
			<string>XCLMyMessageHomeViewController</string>
		</dict>
		<key>MyInfo_NewMyPoints</key>
		<dict>
			<key>storyboardName</key>
			<string></string>
			<key>source</key>
			<string>0</string>
			<key>describe</key>
			<string>我的积分</string>
			<key>url</key>
			<string>xclapp://myinfo/NewMyPoints</string>
			<key>className</key>
			<string>XCLMyGrowthMyPointsViewController</string>
		</dict>
		<key>MyInfo_NewMyPersonInfo</key>
		<dict>
			<key>storyboardName</key>
			<string></string>
			<key>source</key>
			<string>0</string>
			<key>describe</key>
			<string>我的信息</string>
			<key>url</key>
			<string>xclapp://myinfo/NewMyPersonInfo</string>
			<key>className</key>
			<string>XCLMyGrowthPersonalInfoViewController</string>
		</dict>
		<key>SelectClass_MyVideoAlbum</key>
		<dict>
			<key>storyboardName</key>
			<string></string>
			<key>source</key>
			<string>0</string>
			<key>describe</key>
			<string>作品集</string>
			<key>url</key>
			<string>xclapp://myinfo/MyVideoAlbum</string>
			<key>className</key>
			<string>XCLMyVideoAlbumViewController</string>
		</dict>
		<key>study_AllTask</key>
		<dict>
			<key>storyboardName</key>
			<string></string>
			<key>source</key>
			<string>0</string>
			<key>describe</key>
			<string>全部任务</string>
			<key>url</key>
			<string>xclapp://study/AllTask</string>
			<key>className</key>
			<string>XCLMissionViewController</string>
		</dict>
		<key>ExcessiveAnswer</key>
		<dict>
			<key>storyboardName</key>
			<string></string>
			<key>source</key>
			<string>0</string>
			<key>describe</key>
			<string>通用答题承载页</string>
			<key>url</key>
			<string>xclapp://study/excessiveAnswerMap</string>
			<key>className</key>
			<string>XCLExcessiveAnswerMapViewController</string>
		</dict>
		<key>CommonPaper</key>
		<dict>
			<key>storyboardName</key>
			<string></string>
			<key>source</key>
			<string>0</string>
			<key>describe</key>
			<string>通用Paper答题</string>
			<key>url</key>
			<string>xclapp://commonpaper/CommonPaper</string>
			<key>className</key>
			<string>XCLCommonPaperVC</string>
		</dict>
		<key>CommonPaperTask</key>
		<dict>
			<key>storyboardName</key>
			<string></string>
			<key>source</key>
			<string>0</string>
			<key>describe</key>
			<string>通用Paper答题承载页</string>
			<key>url</key>
			<string>xclapp://commonpaper/CommonPaperTask</string>
			<key>className</key>
			<string>XCLCommonPaperTaskVC</string>
		</dict>
		<key>Game_PreInit</key>
		<dict>
			<key>storyboardName</key>
			<string></string>
			<key>source</key>
			<string>0</string>
			<key>describe</key>
			<string>新游戏任务预加载页</string>
			<key>url</key>
			<string>xclapp://gameTask/GamePreInit</string>
			<key>className</key>
			<string>XCLGameTaskViewController</string>
		</dict>
		<key>English_RecordAudioGameTask</key>
		<dict>
			<key>storyboardName</key>
			<string></string>
			<key>source</key>
			<string>0</string>
			<key>describe</key>
			<string>英语录音游戏任务</string>
			<key>url</key>
			<string>xegapp://english/recordAudioGameTask</string>
			<key>className</key>
			<string>XEGRecordAudioGameTaskVC</string>
		</dict>
		<key>English_RecordVideoGameTask</key>
		<dict>
			<key>storyboardName</key>
			<string></string>
			<key>source</key>
			<string>0</string>
			<key>describe</key>
			<string>英语录屏游戏任务</string>
			<key>url</key>
			<string>xegapp://english/recordVideoGameTask</string>
			<key>className</key>
			<string>XEGRecordVideoGameTaskVC</string>
		</dict>
		<key>DiscoveryRecordHome</key>
		<dict>
			<key>storyboardName</key>
			<string></string>
			<key>source</key>
			<string>0</string>
			<key>describe</key>
			<string>练习记录</string>
			<key>url</key>
			<string>xclapp://op/recordhome</string>
			<key>className</key>
			<string>XCLRecordHomeViewController</string>
		</dict>
		<key>DiscoveryPrintingHome</key>
		<dict>
			<key>storyboardName</key>
			<string></string>
			<key>source</key>
			<string>0</string>
			<key>describe</key>
			<string>打印</string>
			<key>url</key>
			<string>xclapp://op/printinghome</string>
			<key>className</key>
			<string>XCLPrintingViewController</string>
		</dict>
		<key>DiscoveryPrintingSendMailbox</key>
		<dict>
			<key>storyboardName</key>
			<string></string>
			<key>source</key>
			<string>0</string>
			<key>describe</key>
			<string>打印</string>
			<key>url</key>
			<string>xclapp://op/printingsendmailbox</string>
			<key>className</key>
			<string>XCLPrintingSendMailViewController</string>
		</dict>
		<key>OperatingGuide</key>
		<dict>
			<key>storyboardName</key>
			<string></string>
			<key>source</key>
			<string>0</string>
			<key>describe</key>
			<string>拍照判题使用指南</string>
			<key>url</key>
			<string>xclapp://op/operatingguide</string>
			<key>className</key>
			<string>XCLOperatingGuideViewController</string>
		</dict>
		<key>StudyMessageWebView</key>
		<dict>
			<key>storyboardName</key>
			<string></string>
			<key>source</key>
			<string>0</string>
			<key>describe</key>
			<string>双师秀webview展示</string>
			<key>url</key>
			<string>xclapp://study/messagewebview</string>
			<key>className</key>
			<string>XCLMessageWebViewController</string>
		</dict>
		<key>StudyMerge_CourseStudy</key>
		<dict>
			<key>storyboardName</key>
			<string></string>
			<key>source</key>
			<string>0</string>
			<key>describe</key>
			<string>课程学习</string>
			<key>url</key>
			<string>xclapp://studyMerge/courseStudy</string>
			<key>className</key>
			<string>XCLCourseStudyViewController</string>
		</dict>
	</dict>
</dict>
</plist>
